
<html>
  <body>
      <div>
        <h2 style="font-family: inherit; text-align:center;">International Islamic University Islamabad</h2>
        <p><h3>Hello <%= to %></h3></p>
        <p>
          Thanks for registering. Please follow the link below to complete your registration.
        </p>
        <a href="<%= verifyHref %>">
        <button style="
        margin-left: 7px;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #337ab7;" >Verify
        </button></a>
      </div>
  </body>
</html>